body {
    font-family: 'Arial', sans-serif;
    background-color: #EDE9E3;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    color: #333;
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#imagen {
    margin-top: 20px;
    text-align: center;
}

#img {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#dogImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 1px solid #cccccc;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
